%p#notice= notice

%p
  %b Name:
  = @element.name

%h4 Foods in this Element:
%table
  - @foods.each do |food|
    %tr
      %td= food.name


= link_to 'Edit', edit_element_path(@element)
\|
= link_to 'Back', elements_path
