%p#notice= notice

%p
  %b Step:
  = @instruction.step
%p
  %b Description:
  = @instruction.description
%p
  %b Recipe:
  = @instruction.recipe_id
%p
  %b Ingredient:
  = @instruction.ingredient_id

= link_to 'Edit', edit_instruction_path(@instruction)
\|
= link_to 'Back', instructions_path
