%p#notice= notice

%p
  %b Name:
  = @recipe.name
%p
  %b Created By:
  = (link_to @user.nick, user_path(@user)) if @user
%p
  %b Description:
  = @recipe.description
%p
  %b Serves:
  = @recipe.serves

= render 'ingredients/list'

= link_to 'New Ingredient', new_recipe_ingredient_path(:recipe_id => @recipe)


%br

- content_for :left do
  = link_to 'All Recipes', recipes_path
  %br/
  = link_to 'New Recipe', new_recipe_path
  %br/
  = link_to 'New Ingredient', new_recipe_ingredient_path(:recipe_id => @recipe)
  %br/
  = link_to 'Edit', edit_recipe_path(@recipe)
