%p#notice= notice

%p
  %b Recipe:
  = link_to @recipe.name, @recipe
%p
  %b Step:
  = @ingredient.step
%p
  %b Amount:
  = @ingredient.amount
%p
  %b Unit:
  = (link_to @ingredient.unit.name, @ingredient.unit) if @ingredient.unit
%p
  %b Food:
  = (link_to @ingredient.food.name, @ingredient.food) if @ingredient.food
%p
  %b Comment:
  = @ingredient.comment

= link_to 'Edit', edit_recipe_ingredient_path(@recipe, @ingredient)
\|
= link_to 'Back', recipe_ingredient_path(@recipe)
\|
= link_to 'Create Next Ingredient', new_recipe_ingredient_path(@recipe)
