%p#notice= notice

%p
  %b Amount:
  = @ingredient.amount
%p
  %b Unit:
  = @ingredient.unit.name if @ingredient.unit
%p
  %b Food:
  = @ingredient.food.name if @ingredient.food
%p
  %b Comment:
  = @ingredient.comment

= link_to 'Edit', edit_ingredient_path(@ingredient)
\|
= link_to 'Back', ingredients_path
