!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-type"}/
    - title = yield :title
    - title = "#{params[:controller].capitalize} | Chefkoch" if (title.to_str).empty?
    %title= title
    =render "shared/stylesheets"
  %body
    .page_margins
      .page
        #header
          #topnav
            = render "shared/topnav"
          - header = yield :header
          - header = params[:controller].capitalize if (header.to_str).empty?
          %h1= header
          %span Chefkoch • Recipes & Shopping List
        #nav
          = render "shared/navigation"
        #main
          #col1
            #col1_content.clearfix
              = render "shared/general_links"
              = yield :left
          #col2
            #col2_content.clearfix
              = yield :right
          #col3
            #col3_content.clearfix
              / add your content here
              = render "shared/flash" , :flash => flash
              = yield
              / <p><haml:loud> debug self </haml:loud></p>
            / IE Column Clearing
            #ie_clearing  
        / begin: #footer
        #footer
          Layout based on
          %a{:href => "http://www.yaml.de/"} YAML
          = debug(params) if Rails.env.development?
